<ion-content [fullscreen]="true" class="kh-main-content">
  
  <div class="main-container">
    <nav class="kh-minimal-nav">
       <ion-button fill="clear" class="kh-nav-btn" routerLink="/home">
        <span class="hover-underline">  <img src="assets/icon/logo.png" alt="Raquel Logo" class="center-logo" /></span>
      </ion-button>
      <ion-button fill="clear" class="kh-nav-btn" routerLink="/aboutus">
        <span class="hover-underline">Quienes somos</span>
      </ion-button>

      <ion-button fill="clear" class="kh-nav-btn" routerLink="/servicios">
        <span class="hover-underline">Servicios</span>
      </ion-button>

      <ion-button fill="clear" class="kh-nav-btn" routerLink="/contacto">
        <span class="hover-underline"> Contacto</span>
      </ion-button>
      
      <ion-button fill="clear" class="kh-nav-btn" routerLink="/blog">
        <span class="hover-underline"> Blog</span>
      </ion-button>
    </nav>
    <div>
        <img src="../assets/icon/hablandome.png">
      </div>
    <div class="intro-text">
      <h1>Hola, Soy Raquel Martínez </h1>
      <p> Marketer digital | UX UI | SEO| Web Responsive</p>
      <h4>Te ayudo a crecer tus ventas y escalar tu negocio.</h4>
      <ion-button fill="clear" class="kh-btn" routerLink="/proyectos" >
        <button class="mi-boton">¡Descubre últimos proyectos!</button>
</ion-button>
</div>
    <div>
      <footer>By Raquel Martínez</footer>
    </div>
  </div>

</ion-content>